<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
    <loadFromRemoteSources enabled="true" />
    <!-- https://github.com/devvvvs/vvvv/issues/6002
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib"/>
    </assemblyBinding>
    -->
  </runtime>
</configuration>
